/*http://imakewebthings.com/waypoints/ FOR SCROLLING*/
.call-to-action {background-color: rgb(255, 77, 77)}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 70pt;
    font-weight: 100;
    text-transform: uppercase;
}

h2 {
    font-size: 20pt;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-size: 28pt;
}

h4 {
    font-size: 18pt;
}

p {
    font-size: 14pt;
    font-weight: 300;
}

::selection{
    background: rgb(255, 77, 77);
    color: #FEF6E4;
}

.emph {
    display: inline-block;
    border-bottom: 1px solid HSL(0, 100%, 80%)
}

.full {
    height: 100vh;
    width: 100vw;
}

.full:nth-child(even) {
    background-color: hsla(300, 5%, 90%, 1);
}

.landing {
    display: flex;
    justify-content: space-between;
}

.landing-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.welcome {
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 40%;
    width: 60%;
}

nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 3vw;
    /*This is not a typo! Maintains a ratio*/
    width: 60vh; 
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.honeycomb {
    display: flex;
    flex-flow: column wrap;
}

.hexagon {
    background-color: hsla(300, 5%, 90%, 1);
    /*Top/bottom margin approx 28% of .hexagon height + spacing*/
    margin: 3vh .2vh;
    position: relative;
    top: 1vh;
}

.hexagon, .hexagon::before, .hexagon::after {
    height: 10vh;
    /* Width is calculated from height (width = height * 1.732)*/
    width: 17.32vh;
}

.hexagon::before {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
    transform: rotate(-60deg);
}

.hexagon::after {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
    transform: rotate(60deg);
}

.nav-link:hover {
    transition: 500ms ease;
    color: white;
    background-color: rgb(255, 77, 77);
}

.hexagon:nth-child(even) {
    /*Calculated as 50% of width + spacing*/
    left: 8.7vh;
    top: 1vh;
}

.hexacontent {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;
    z-index: 1;
}

.project-gon h2 + p {
    top: 60%
}

.project-gon h2 {
    top: 40%
}

.hexahover a {
    z-index: 2;
}

.hexanav {
    color: inherit;
    text-decoration: none;
    padding-bottom: 2px;
}

.about-me, .projects, .cv {
    align-items: center;
    display: flex;
    justify-content: center;
}

.projects, .cv {
    flex-wrap: wrap;
}

.content {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    height: 70%;
    justify-content: space-around;
    line-height: 1.2;
    width: 50%;
}

.project-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
}

.row {
    display: flex;
}

.project-gon {
    background-color: hsla(300, 5%, 90%, 1);
    margin: -10.1vh 25.65vh;
    position: relative;
}

.project-gon, .project-gon::after, .project-gon::before {
    height: 42vh;
    /* Width is calculated from height (width = height / 1.732)*/
    width: 24.2vh;
}

.project-gon::before {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
    transform: rotate(-60deg);
}

.project-gon::after {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
    transform: rotate(60deg);
}

.project-gon img {
    z-index: 1;
    position: absolute;
    top: 12%;
    left: -14.5%;
}

.project-gon .hexacontent {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
}

.project-gon .hexacontent, .project-gon .hexacontent::before, .project-gon .hexacontent::after {
    height: 100%;
    width: 100%;
}

.project-gon .hexacontent::before {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
    transform: rotate(60deg);
}

.project-gon .hexacontent::after {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
    transform: rotate(-60deg);
}

.solo {
    left: 37.8vh;
}

.form-filler {
    background-color: linen;
    height: 30vh;
    width: 100%;
}

.hexahover {
    background-color: rgba(255, 255, 255, 0.4);
}

.profile {
    background: gainsboro center/cover url("../images/Profile.jpeg");
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    /*border: 3px dashed gainsboro;*/
}

.title {
    width: 100%;
    text-align: center;
    font-size: 36pt;
    color: white;
}

.cs-resume {
    width: 80%;
    background-color: white;
}

.cv-section {
    background-color: white;
}

.cv-resume {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
}

.cv-section ul {
    margin-left: 5px;
    /*list-style-type: disc;*/
}

.cv-section ul li:before {
    content: "-";
    margin-right: 2px;
}

.cv-section-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 25px;
    justify-content: space-between;
}

.education ul, .skills ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

.education, .skills {
    margin: 10px;
}

.social {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100px;
}

.social h3 {
    width: 100%;
}

.social ul {
    margin-left: 0;
}

.social ul li {
    width: 30px;
    display: inline-block;
}

.social ul li::before {
    content: none; 
}

.social ul li a {
    height: 30px;
    margin-top: 10px;
}

#linkedin {
    background: center/100% url('../images/linkedin.png') no-repeat;
}

#github {
    background: center/100% url('../images/GitHub-Mark-120px-plus.png') no-repeat;
}

.hidden {
    display: none;
}

.close {
    text-align: right;
    position: fixed;
    top: 30px;
    right: 30px;
    transition: all 500ms ease;
}

.close p {
    font-size: 30px;
}

.noscroll {
    overflow: hidden;
}

.blur {
    /*-webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);*/
    /*position: relative;*/
    z-index: -10;
}

.project-title {
    font-size: 40pt;
    text-align: center;
    margin: 30px 0;
}

.project-image {
    width: 50vw;
}

.modal {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transition: all 500s ease;
    filter: blur(0px);
    overflow: scroll;
}

.description {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}

.project-description {
    width: 50vw;
}